.header__container {
  display: flex;
  min-height: 68px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

/* header nav */
.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
  cursor: pointer;
}

.menu__link {
  line-height: calc(24 / 16 * 100%);
}

.menu__link:hover {
  color: var(--btn-bg-color);
  transition: color 200ms ease-in-out;
}

/* menu login */
.menu__item_login div {
  display: flex;
  cursor: pointer;
}

.menu__item_login:hover {
  color: var(--btn-bg-color);
  transition: color 200ms ease-in-out;
}

.menu__log {
  max-width: 24px;
  max-height: 24px;
  margin-left: 6px;
}

.menu__log img {
  width: 100%;
  height: 100%;
}

/* -------- media queries --------*/

@media (max-width: 767px) {
  .header__logo {
    margin-right: 90px;
  }
}

@media (max-width: 479px) {
  .menu__list {
    justify-content: flex-end;
  }
  .menu__item {
    margin-right: 25px;
  }
}
