<div class="header__container _container _container_big">
  <div class="header__logo" routerLink="/">
    <div class="logo logo_size">sanaro</div>
  </div>
  <div class="header__phone">
    <a href="tel:{{ phoneNumber }}">
      <i class="fa fa-solid fa-phone"></i>
      <span>Позвонить</span>
    </a>
  </div>
  <nav class="header__menu menu">
    <div class="menu__icon" (click)="showMenu()">
      <span></span>
    </div>
    <div class="menu__body">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#hero" class="menu__link" (click)="scrollToFragment('hero')">
            Главное
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#innovation"
            class="menu__link"
            (click)="scrollToFragment('innovation')"
          >
            Инновация
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#testimonials"
            class="menu__link"
            (click)="scrollToFragment('testimonials')"
          >
            Отзывы
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#prices"
            class="menu__link"
            (click)="scrollToFragment('prices')"
          >
            Цены
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#questions"
            class="menu__link"
            (click)="scrollToFragment('questions')"
          >
            Вопросы
          </a>
        </li>
        <li class="menu__item menu__item_request">
          <a
            href="#request"
            class="menu__link"
            (click)="scrollToFragment('request')"
          >
            Связаться
          </a>
        </li>
        <!-- <li class="menu__item menu__item_login">
          <div *ngIf="!isLoggedIn" (click)="onLogin()">
            <div class="menu__link">Войти</div>
            <div class="menu__log">
              <img src="assets/header/login.svg" alt="login-icon" />
            </div>
          </div>
          <div *ngIf="isLoggedIn" (click)="onLogout()">
            <div class="menu__link">Выйти</div>
            <div class="menu__log">
              <img src="assets/header/logout.svg" alt="logout-icon" />
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
