<!-- HEADER SECTION -->
<div class="header header_pos">
  <div class="header__inner">
    <div class="header__logo" (click)="onRefresh()">
      <img src="assets/header/fitline-logo.svg" alt="FitLine Logo" />
    </div>
    <!-- SECTION LIST -->
    <ul class="header__list">
      <li class="header__item">
        <a (click)="scrollToFragment('hero')">Главное</a>
      </li>
      <li class="header__item">
        <a (click)="scrollToFragment('innovation')">Инновация</a>
      </li>
      <li class="header__item">
        <a (click)="scrollToFragment('products')">Продукты</a>
      </li>
      <li class="header__item">
        <a (click)="scrollToFragment('testimonials')">Отзывы</a>
      </li>
      <li class="header__item">
        <a (click)="scrollToFragment('questions')">Вопросы</a>
      </li>
      <li class="header__item header__item_login">
        <div *ngIf="!isLoggedIn" (click)="onLogin()">
          <div>Войти</div>
          <div class="header__log">
            <img src="assets/header/login.svg" alt="login-icon" />
          </div>
        </div>
        <div *ngIf="isLoggedIn" (click)="onLogout()">
          <div>Выйти</div>
          <div class="header__log">
            <img src="assets/header/logout.svg" alt="logout-icon" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
