<div class="footer__container _container _container_big">
  <div class="footer__body">
    <div class="footer__column">
      <div class="footer__logo">
        <img src="assets/footer/footer-logo.svg" alt="Логотип FitLine" />
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__list list-footer">
        <div class="list-footer__column">
          <div class="list-footer__header footer-header">О нас</div>
          <ul class="footer__items">
            <li class="footer__item">
              <a href="#">Оптимальный сет</a>
            </li>
            <li class="footer__item">
              <a href="#">Наша история</a>
            </li>
            <li class="footer__item">
              <a href="#">Журнал</a>
            </li>
          </ul>
        </div>
        <div class="list-footer__column">
          <div class="list-footer__header footer-header">Социальные сети</div>
          <ul class="footer__items">
            <li class="footer__item">
              <a href="#">Instagram</a>
            </li>
            <li class="footer__item">
              <a href="#">Facebook</a>
            </li>
            <li class="footer__item">
              <a href="#">YouTube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__subscribe subscribe-footer">
        <div class="subscribe-footer__header footer-header">
          Подпишись и получай новости о нас!
        </div>
        <form action="#" class="subscribe-footer__form">
          <input
            type="email"
            class="subscribe-footer__input"
            required
            placeholder="sanaro@example.com"
          />
          <a href="#" class="subscribe-footer__send">
            <img src="assets/footer/arrow.svg" alt="Стрелка отправить" />
          </a>
        </form>
        <ul class="subscribe-footer__rights">
          <li class="subcribe-footer__right">
            © 2024 FitLine — All Rights Reserved.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <img src="assets/footer/footer-logo.svg" alt="footer-logo" />
      </div>
      <div class="footer__content list list_margin">
        <div class="footer__us list__elem">
          <div class="header">
            <h3>О нас</h3>
          </div>
          <ul class="list__items">
            <li class="list__item">
              <a
                href="https://www.fitline.com/en/fitline-optimal-set"
                target="_blank"
                >Оптимальный сет</a
              >
            </li>
            <li class="list__item">
              <a
                href="https://www.fitline.com/ru/ru/%D0%B8%D0%BD%D0%BD%D0%BE%D0%B2%D0%B0%D1%86%D0%B8%D0%B8-%D0%B8-%D0%BA%D0%B0%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%BE"
                target="_blank"
                >Наша история</a
              >
            </li>
            <li class="list__item">
              <a
                href="https://www.fitline.com/ru/ru/%D0%B6%D1%83%D1%80%D0%BD%D0%B0%D0%BB?page=1&category=fitline-products-ru%2Cfitline-sport-ru%2Clifestyle-ru%2Cwell-being-ru&sort=DESC"
                target="_blank"
                >Журнал</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__social list__elem">
          <div class="header">
            <h3>Социальные сети</h3>
          </div>
          <ul class="list__items">
            <li class="list__item">
              <a
                href="https://www.instagram.com/fitline_officialpage/?hl=en"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li class="list__item">
              <a href="https://www.facebook.com/fitline/" target="_blank"
                >Facebook</a
              >
            </li>
            <li class="list__item">
              <a
                href="https://www.youtube.com/@FitLineExperienceResults"
                target="_blank"
                >YouTube</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__subscribe list list_margin">
        <div class="header">
          <h3>Подпишись и получай новости о нас!</h3>
        </div>
        <div class="list__input">
          <input
            type="email"
            placeholder="fitline@example.com"
            [(ngModel)]="emailValue"
          />
          <div class="footer__sent">
            <img
              src="assets/footer/arrow.svg"
              alt="arrow"
              (click)="onEmailSent()"
            />
          </div>
        </div>
        <div class="list__desc">
          <p>© 2023 FitLine — All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
