.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0px;
}
.footer__column:first-child {
  min-width: 70px;
}

/* footer logo */
.footer__logo {
  position: relative;
}
.footer__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: scale-down;
  object-position: 0 0;
}

.logo_size {
  font-size: 28px;
}

/* footer list */
.footer__column:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 50%;
}
.footer__list {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 auto;
}
.footer-header {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
}
.footer__items {
  margin-top: 16px;
}
.footer__items > *:not(:last-child) {
  margin-bottom: 8px;
}
.footer__item {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14 * 100%);
}

/* footer subscribe */
.subscribe-footer {
  max-width: 340px;
}

/* footer-forms */
.subscribe-footer__form {
  position: relative;
  max-width: 326px;
  margin-top: 24px;
}
.subscribe-footer__input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--btn-bg-color);
}
.subscribe-footer__input,
.subscribe-footer__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  color: var(--btn-bg-color);
}
.subscribe-footer__input:focus {
  outline-color: var(--secondary-bg-color);
}
.subscribe-footer__send {
  position: absolute;
  top: 11px;
  right: 11px;
}
.subscribe-footer__rights {
  display: flex;
  margin-top: 20px;
}
.subscribe-footer__rights > *:not(:last-child) {
  margin-right: 35px;
}
.subcribe-footer__right {
  color: var(--btn-bg-color);
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12 * 100%);
}

/* -------- media queries --------*/
@media (max-width: 769px) {
  .footer__column:last-child {
    flex: 1 1 100%;
  }
  .footer__column:not(:last-child) {
    margin-bottom: 40px;
  }
  .footer__subscribe {
    margin: 0 auto;
  }
}

@media (max-width: 479px) {
  .footer__column:first-child {
    min-width: 50px;
  }
  .list-footer__column {
    margin-left: 15px;
  }
  .footer-header {
    font-size: 15px;
  }
  .footer__item {
    font-size: 12.25px;
  }
  .subscribe-footer__input,
  .subscribe-footer__input::placeholder {
    font-size: 14px;
  }
  .subscribe-footer__send {
    top: 9.5px;
    right: 9.5px;
  }
  .subcribe-footer__right {
    font-size: 10px;
  }

  .subscribe-footer__form {
    margin-top: 16px;
  }
}
