<div class="footer__container _container _container_big">
  <div class="footer__body">
    <div class="footer__column">
      <div class="footer__logo">
        <div class="logo logo_size">sanaro</div>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__list list-footer">
        <div class="list-footer__column">
          <div class="list-footer__header footer-header">О нас</div>
          <ul class="footer__items">
            <li class="footer__item">
              <a href="#">Наша история</a>
            </li>
            <li class="footer__item">
              <a href="#">Журнал</a>
            </li>
          </ul>
        </div>
        <div class="list-footer__column">
          <div class="list-footer__header footer-header">Социальные сети</div>
          <ul class="footer__items">
            <li class="footer__item">
              <a href="#">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__subscribe subscribe-footer">
        <div class="subscribe-footer__header footer-header">
          Подпишитесь и получайте новости о нас!
        </div>
        <form action="#" class="subscribe-footer__form">
          <input
            type="email"
            class="subscribe-footer__input"
            required
            placeholder="sanaro@example.com"
          />
          <a href="#" class="subscribe-footer__send">
            <img src="assets/footer/arrow.svg" alt="Стрелка отправить" />
          </a>
        </form>
        <ul class="subscribe-footer__rights">
          <li class="subcribe-footer__right">
            © 2024 <span class="logo">sanaro</span> — Все права защищены.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
