<div class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <img src="../../assets/footer/footer-logo.svg" alt="footer-logo">
            </div>
            <div class="footer__content list">
                <div class="footer__us list__elem">
                    <div class="header">
                        <h3>О нас</h3>
                    </div>
                    <ul class="list__items">
                        <li class="list__item">Успех с FitLine</li>
                        <li class="list__item">Наша история</li>
                        <li class="list__item">Контакты</li>
                    </ul>
                </div>
                <div class="footer__social list__elem">
                    <div class="header">
                        <h3>Социальные сети</h3>
                    </div>
                    <ul class="list__items">
                        <li class="list__item">Instagram</li>
                        <li class="list__item">Facebook</li>
                        <li class="list__item">YouTube</li>
                    </ul>
                </div>
            </div>
            <div class="footer__subscribe list">
                <div class="header">
                    <h3>Подпишись и получай новости о нас!</h3>
                </div>
                <div class="list__input">
                    <input type="email" placeholder="fitline@example.com">
                    <div class="footer__sent">
                        <img src="../../assets/footer/arrow.svg" alt="arrow">
                    </div>
                </div>
                <div class="list__desc">
                    <p>© 2023 FitLine — All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>