.footer__container {
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
.footer__logo {
  position: relative;
  padding: 0px 5.71% 5.4% 0px;
}
.footer__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: scale-down;
  object-position: 0 0;
}
.footer__list {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
}
.list-footer {
}
.list-footer__column {
}
.list-footer__header {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
}
.footer__items {
  margin-top: 16px;
}
.footer__items > *:not(:last-child) {
  margin-bottom: 8px;
}
.footer__item {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14 * 100%);
}
.footer__subscribe {
}
.subscribe-footer {
}
.subscribe-footer__header {
}
.subscribe-footer__form {
  position: relative;
  max-width: 326px;
  margin-top: 24px;
}
.subscribe-footer__input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--btn-bg-color);
}
.subscribe-footer__input,
.subscribe-footer__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  color: var(--btn-bg-color);
}
.subscribe-footer__input:focus {
  outline-color: var(--secondary-bg-color);
}
.subscribe-footer__send {
  position: absolute;
  top: 11px;
  right: 11px;
}
.subscribe-footer__rights {
  display: flex;
  margin-top: 20px;
}
.subscribe-footer__rights > *:not(:last-child) {
  margin-right: 35px;
}
.subcribe-footer__right {
  color: var(--btn-bg-color);
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12 * 100%);
}


/* .footer {
  max-height: 224px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0px;
}

.footer__logo {
  max-width: 69.59px;
  max-height: 66.06px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.list__elem {
  margin-left: 114px;
}

.list__elem:first-child {
  margin-left: 0px;
}

.header h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.list__items {
  margin-top: 16px;
}

.list__item {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.list__item a:hover {
  color: var(--btn-bg-color);
  transition: color 300ms ease-in-out;
}

.list__item:first-child {
  margin-top: 0px;
}

.footer__subscribe {
  max-width: 350px;
}

.list__input {
  position: relative;
  margin-top: 24px;
}

.list__input input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--btn-bg-color);
}

.list__input input:focus {
  outline: none !important;
}

.list__input input,
.list__input input::placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--btn-bg-color);
}

.footer__sent {
  position: absolute;
  top: 8.5px;
  right: -8px;
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
}

.footer__sent img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.list__desc {
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  color: var(--btn-bg-color);
} */
