/* CONFIRMATION DIALOG BUTTONS */
.dialog__btns {
  display: flex;
  justify-content: space-between;
}

.dialog__btn_selected {
  background-color: var(--secondary-bg-color);
  color: var(--btn-bg-color);
  padding: 15px 56px;
  outline: none;
  transition: background-color 0.3s;
  border: 2px solid var(--btn-bg-color);
}

.dialog__btn_width {
  max-width: 278px;
  flex: 1 1 278px;
}

/* .dialog__btn_no button {
  background-color: var(--line-bg-color);
  color: var(--white);
  padding: 17px 56px;
  transition: border, padding, color 0.3s;
}

.dialog__btn_no button:hover {
  color: var(--secondary-txt-color);
  padding: 15px 58px;
  border: 2px solid var(--secondary-txt-color);
  transition: border, padding, color 0.3s;
} */



.dialog__inputs_top {
  margin-top: 12px;
}

.dialog__hidden {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
}
