<!-- CONFIRMATION DIALOG -->
<div class="dialog">
  <div class="_dialog-container">
    <div class="dialog__inner">
      <!-- CONFIRMATION DIALOG HEADER -->
      <div class="dialog__header">
        <div class="dialog__title">
          Давайте подтвердим email в который хотим отправить
        </div>
        <div class="dialog__subtitle">
          Мы правильно поняли что можем на этот email отправить ваши результаты?
        </div>
      </div>
      <!-- CONFIRMATION DIALOG BUTTONS -->
      <div class="dialog__btns">
        <div class="dialog__btn dialog__btn_width">
          <button
            [disabled]="clicked"
            class="btn"
            (click)="onConfirm($event.target!, true)"
          >
            Да
          </button>
        </div>
        <div class="dialog__btn dialog__btn_width dialog__btn_no">
          <button
            [disabled]="clicked"
            class="btn"
            (click)="onConfirm($event.target!, false)"
          >
            Нет
          </button>
        </div>
      </div>

      <!-- CONFIRMATION HIDDEN -->
      <div
        class="dialog__hidden"
        [@emailAnimation]="emailVisible ? 'email_visible' : 'email_hidden'"
      >
        <!-- CONFIRMATION DECORE -->
        <div class="dialog__decore"></div>

        <div class="dialog__header">
          <div class="dialog__subtitle">Напишите куда нам отправить</div>
        </div>
        <!-- CONFIRMATION INPUTS -->
        <div class="dialog__inputs dialog__inputs_top">
          <div class="dialog__item">
            <label class="dialog__label">Email</label>
            <input
              type="email"
              class="dialog__input dialog__input_width"
              placeholder="user@example.com"
              (keyup)="onKey($event.target!)"
            />
          </div>
        </div>
        <!-- CONFIRMATION BUTTON -->
        <div class="dialog__btn">
          <button class="btn btn_full-width" (click)="onContinue()">
            Продолжить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
