<!-- REQUEST MODAL FORM -->
<div class="dialog">
  <div class="dialog-container dialog-container_border">
    <!-- REQUEST INNER -->
    <div class="dialog__inner dialog__inner_top">
      <!-- REQUEST HEADER -->
      <div class="dialog__header">
        <div class="dialog__title">
          <h2>Получите подробную консультацию</h2>
        </div>
        <div class="dialog__subtitle">
          <h3>
            Узнайте, как продукты FitLine могут изменить вашу жизнь - задайте
            нам свои вопросы
          </h3>
        </div>
      </div>
      <!-- REQUEST FORM -->
      <form
        [formGroup]="callRequestForm"
        (ngSubmit)="onSubmit()"
        class="dialog__form form"
      >
        <div class="dialog__inputs">
          <div class="dialog__item">
            <label for="username" class="dialog__label">Имя</label>
            <input
              type="text"
              class="dialog__input"
              formControlName="username"
              placeholder="Ваше имя"
            />
            <!-- <div
              *ngIf="
                callRequestForm.get('username')?.hasError('required') &&
                callRequestForm.get('username')?.touched
              "
            >
              Имя обязательное поле
            </div> -->
          </div>
          <div class="dialog__item">
            <label for="username" class="dialog__label">Номер телефона</label>
            <input
              type="text"
              class="dialog__input"
              formControlName="phone_number"
              placeholder="+7 (7xx) xxx-xx-xx"
            />
          </div>
          <div class="dialog__item">
            <label for="username" class="dialog__label">Город</label>
            <input
              type="text"
              class="dialog__input"
              formControlName="city"
              placeholder="Ваш город"
            />
          </div>
          <div class="dialog__item">
            <label for="username" class="dialog__label"
              >Что хотели бы по подробнее узнать?</label
            >
            <input
              type="text"
              class="dialog__input"
              formControlName="reason"
              placeholder="Расскажите, что вас заинтересовало. Мы готовы помочь!"
            />
          </div>
        </div>
        <!-- REQUEST BUTTON -->
        <div class="dialog__btn">
          <button type="submit" class="btn">Получить консультацию</button>
        </div>
      </form>
    </div>
  </div>
</div>
