<!-- REQUEST MODAL FORM -->
<div class="dialog">
  <div class="dialog-container">
    <!-- REQUEST INNER -->
    <div class="dialog__inner">
      <!-- REQUEST HEADER -->
      <div class="dialog__header">
        <div class="dialog__title">
          <h2>Title</h2>
        </div>
        <div class="dialog__subtitle">
          <h3>Subtitle</h3>
        </div>
      </div>
      <!-- REQUEST FORM -->
      <form
        [formGroup]="callRequestForm"
        (ngSubmit)="onSend()"
        class="dialog__form form"
      >
        <div class="dialog__inputs">
          <div class="dialog__item">
            <label for="username" class="dialog__label">Имя</label>
            <input
              type="text"
              class="dialog__input"
              formControlName="username"
            />
          </div>
          <div class="dialog__item">
            <label for="username" class="dialog__label">Номер телефона</label>
            <input
              type="text"
              class="dialog__input"
              formControlName="phone_number"
            />
          </div>
          <div class="dialog__item">
            <label for="username" class="dialog__label">Город</label>
            <input type="text" class="dialog__input" formControlName="city" />
          </div>
          <div class="dialog__item">
            <label for="username" class="dialog__label">Причина</label>
            <input type="text" class="dialog__input" formControlName="reason" />
          </div>
        </div>
        <!-- REQUEST BUTTON -->
        <div class="dialog__btn">
          <button type="submit" class="btn">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>
