<section id="questions" class="page__objections objections">
  <div class="objections__container _container">
    <div class="objections__header">
      <h1>Часто задаваемые вопросы</h1>
    </div>
    <div class="objections__items">
      <div class="objections__item" *ngFor="let objection of objections">
        <div class="objections__question">
          <div class="objections__text">{{ objection.question }}</div>
          <span class="material-symbols-outlined">chevron_right</span>
        </div>
        <div class="objections__answer"></div>
      </div>
    </div>
  </div>
</section>
