<div class="page__features features">
  <div class="features__container _container">
    <div class="features__list">
      <div class="features__item">
        <div class="features__image">
          <img src="assets/features/sweeteners.svg" alt="Натуральные подсластители">
        </div>
        <div class="features__desc">Натуральные подсластители</div>
      </div>
      <div class="features__item">
        <div class="features__image">
          <img src="assets/features/no-conservative.svg" alt="Без консервантов">
        </div>
        <div class="features__desc">Без консервантов</div>
      </div>
      <div class="features__item">
        <div class="features__image">
          <img src="assets/features/flavors.svg" alt="Натуральные ароматизаторы">
        </div>
        <div class="features__desc">Натуральные ароматизаторы</div>
      </div>
    </div>
    <div class="features__text">
      <p>
        Наша компания использует только натуральные ингредиенты, без
        консервантов. Все наши продукты обогащены витаминами и минералами.
      </p>
    </div>
  </div>
</div>

<!-- <div class="features">
  <div class="container">
    <div class="features__inner">
      <div class="features__list">
        <div class="features__item item">
          <div class="item__img">
            <img
              src="assets/features/sweeteners.svg"
              alt="натуральные подсластители"
            />
          </div>
          <p class="item__txt">Натуральные подсластители</p>
        </div>
        <div class="features__item item">
          <div class="item__img">
            <img
              src="assets/features/no-conservative.svg"
              alt="без консервантов"
            />
          </div>
          <p class="item__txt">Без консервантов</p>
        </div>
        <div class="features__item item">
          <div class="item__img">
            <img
              src="assets/features/flavors.svg"
              alt="витамины и минералы"
            />
          </div>
          <p class="item__txt">Натуральные ароматизаторы</p>
        </div>
      </div>
      <div class="features__desc">
        <p>
          Наши продукты богаты витаминами и минералами, что делает их идеальным
          выбором для тех, кто стремится к поддержанию здоровья и активному
          образу жизни.
        </p>
      </div>
    </div>
  </div>
</div> -->
