<!-- FEATURES SECTION -->
<div class="features">
  <!-- CONTAINER -->
  <div class="container">
    <div class="features__inner">
      <!-- FEATURE ITEMS -->
      <div class="features__list">
        <div class="features__item item">
          <div class="item__img">
            <img src="../../assets/features/sweeteners.svg" alt="sweeteners" />
          </div>
          <p class="item__txt">Натуральные подсластители</p>
        </div>
        <div class="features__item item">
          <div class="item__img">
            <img
              src="../../assets/features/no-conservative.svg"
              alt="no-conservative"
            />
          </div>
          <p class="item__txt">Без консервантов</p>
        </div>
        <div class="features__item item">
          <div class="item__img">
            <img src="../../assets/features/flavors.svg" alt="flavors" />
          </div>
          <p class="item__txt">Натуральные ароматизаторы</p>
        </div>
      </div>
      <!-- FEATURE DESCRIPTIONS -->
      <div class="features__desc">
        <p>
          Наша компания использует только натуральные ингредиенты, без
          консервантов. Все наши продукты обогащены витаминами и минералами.
        </p>
      </div>
    </div>
  </div>
</div>
