<div class="page__features features">
  <div class="features__container _container">
    <div class="features__list">
      <div class="features__item">
        <div class="features__image">
          <img
            src="assets/features/water-outline.svg"
            alt="Употребление в жидком виде"
          />
        </div>
        <div class="features__desc">Употребление в жидком виде</div>
      </div>
      <div class="features__item">
        <div class="features__image">
          <img
            src="assets/features/bounding-box.svg"
            alt="Комбинация питательных веществ и их сочетание в группе"
          />
        </div>
        <div class="features__desc">
          Комбинация питательных веществ и их сочетание в группе
        </div>
      </div>
      <div class="features__item">
        <div class="features__image">
          <img
            src="assets/features/grass.svg"
            alt="Интегрированные аюрведические травы и экстракты"
          />
        </div>
        <div class="features__desc">
          Интегрированные аюрведические травы и экстракты
        </div>
      </div>
    </div>
    <div class="features__text">
      Вы можете быть уверены в результате, наши продукты выпускаются уже более
      <br />
      30 лет свыше 45 стран мира, используя только натуральные ингредиенты и без
      консервантов.
    </div>
  </div>
</div>
