<div id="prices" class="page__prices prices">
  <div class="prices__container _container">
    <div class="prices__items">
      <div class="prices__item price-item">
        <div class="price-item__inner">
          <!-- PRICE ITEM HEADER -->
          <div class="price-item__header">
            <div class="price-item__main">
              <div class="price-item__title">Activize</div>
              <div class="price-item__price">
                <span>7490₸</span>
                <span>/ в месяц</span>
              </div>
              <div class="price-item__text">
                Для тех, кто хочет попробовать продукт и почувствовать эффект.
              </div>
            </div>
            <div class="price-item__action">
              <button class="btn btn_price btn_bg-red" (click)="sendActivize()">
                Попробовать
              </button>
            </div>
          </div>
          <!-- PRICE ITEM DESCRIPTION -->
          <div class="price-item__desc">
            <ul class="price-item__list desc-list">
              <li class="desc-list__item">
                Повышает физическую активность и работоспособность
              </li>
              <li class="desc-list__item">Стимулирует сжигание жиров</li>
              <li class="desc-list__item">
                Снабжает кислородом сосуды организма
              </li>
              <li class="desc-list__item">
                Уменьшает риски сердечно-сосудистых заболеваний
              </li>
              <li class="desc-list__item">Укрепляет нервную систему</li>
              <li class="desc-list__item">Повышает иммунитет</li>
              <li class="desc-list__item">Улучшает память и концентрацию</li>
              <li class="desc-list__item">
                Уменьшает мышечные и другие виды боли
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="prices__item price-item">
        <div class="price-item__inner">
          <!-- PRICE ITEM HEADER -->
          <div class="price-item__header">
            <div class="price-item__main">
              <div class="price-item__title">Базовый сет</div>
              <div class="price-item__price">
                <span>21490₸</span>
                <span>/ в месяц</span>
              </div>
              <div class="price-item__text">
                Для тех, кто хочет получить максимальную пользу от наших
                продуктов.
              </div>
            </div>
            <div class="price-item__action">
              <button class="btn btn_price" (click)="sendBase()">
                Начать прием
              </button>
            </div>
          </div>
          <!-- PRICE ITEM DESCRIPTION -->
          <div class="price-item__desc">
            <div class="price-item__cont">Все что в Activize, и плюс:</div>
            <ul class="price-item__list desc-list">
              <li class="desc-list__item">
                Улучшает работу пищеварительной системы
              </li>
              <li class="desc-list__item">Избавляет от расстройств желудка</li>
              <li class="desc-list__item">
                Снижает вредное влияние окружающей среды
              </li>
              <li class="desc-list__item">
                Снижает интоксикацию после употребления алкоголя
              </li>
              <li class="desc-list__item">
                Уменьшает варикозное расширение вен
              </li>
              <li class="desc-list__item">
                Укрепляет опорно-двигательную систему
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="prices__item price-item">
        <div class="price-item__inner">
          <!-- PRICE ITEM HEADER -->
          <div class="price-item__header">
            <div class="price-item__main">
              <div class="price-item__title">Удвоенная энергия</div>
              <div class="price-item__price">
                <span>29490₸</span>
                <span>/ в месяц</span>
              </div>
              <div class="price-item__text">
                Для тех, кто хочет получить все преимущества "Базового сета", и
                увеличить свою энергию двое.
              </div>
            </div>
            <div class="price-item__action">
              <button class="btn btn_price btn_bg-red" (click)="sendDouble()">
                Свяжитесь с нами
              </button>
            </div>
          </div>
          <!-- PRICE ITEM DESCRIPTION -->
          <div class="price-item__desc">
            <div class="price-item__cont">Все что в Базовом сете, и плюс:</div>
            <ul class="price-item__list desc-list">
              <li class="desc-list__item">
                В пакете также включен еще один Activize
              </li>
              <li class="desc-list__item">
                Бесплатная доставка до любой точки города Алматы
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
