<div class="thanks">
  <div class="thanks__container _container">
    <div class="thanks__message message">
      <div class="message__header">
        <h2>Спасибо за проявленный интерес!</h2>
      </div>
      <div class="message__paragraphs">
        <p class="message__item">
          Меня зовут Iзбасар Асылжан, я основатель бренда "sanaro". Спасибо, что
          Вы проявили интерес к нашим продуктам. Мы обязательно с Вами свяжемся
          в рабочее время с 9:00 до 18:00 по времени Алматы
        </p>
        <p class="message__item">
            Если у Вас есть срочный вопрос, звоните нам по телефону: <br>
            8 (701) 013 08 95
        </p>
      </div>
      <div class="message__sign sign">
        <div class="sign__avatar">
            <img src="assets/thank-you/avatar.jpeg" alt="Портрет основателя">
        </div>
        <div class="sign__body">
            <div class="sign__text">
                С уважением, <br>
                Iзбасар Асылжан <br>
                Основатель бренда "sanaro"
            </div>
            <div class="sign__item">
                <img src="assets/thank-you/my_sign.png" alt="Подпись основателя">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
