.welcome {
    background-color: var(--secondary-bg-color);
}

.welcome__inner {
    display: flex;
    justify-content: space-between;
}

.welcome__content {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__content-inner {
    max-width: 636.35px;
}

.welcome__header {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1px;
}

.welcome__subheader {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 24px;
}

.welcome__action {
    display: flex;
    align-items: center;
    margin-top: 68px;
}

.welcome__btn {
    flex: 1 0 260.63px;
}

.welcome__proof {
    font-size: 14px;
    font-family: 400;
    line-height: 20px;
    margin-left: 20px;
}

.welcome__img {
    flex: 0 1 615.8px;
    object-fit: fill;
}
