<section id="hero" class="page__hero hero">
  <div class="hero__container _container _container_medium">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">
          FitLine: Здоровье и Энергия с Продуктами Премиум Класса
        </h1>
        <div class="hero__text">
          Индивидуальный подход к здоровью: Пройдите опросник и получите
          персональные рекомендации от экспертов FitLine
        </div>
      </div>
      <div class="hero__button">
        <button class="btn" (click)="openAuthDialog()">Связаться с нами</button>
        <p class="hero__proof">
          500 000+ довольных клиентов по всему миру. Присоединяйтесь к числу
          тех, кто добился успеха с нами!
        </p>
      </div>
    </div>
    <div class="hero__img">
      <img src="assets/hero/hero_img_2.jpeg" alt="welcome-img" />
    </div>
  </div>
</section>
