/* WELCOME SECTION */
/* DESKTOP VERSION */
.welcome {
  background-color: var(--secondary-bg-color);
  position: relative;
  z-index: 1;
}

.welcome__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -36px;
}

.welcome__content {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__content-inner {
  max-width: 636.35px;
}

.welcome__header {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1px;
}

.welcome__subheader {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 24px;
}

.welcome__action {
  display: flex;
  align-items: center;
  margin-top: 68px;
}

.welcome__btn {
  flex: 1 0 260.63px;
}

.welcome__proof {
  font-size: 14px;
  font-family: 400;
  line-height: 20px;
  margin-left: 20px;
}

.welcome__img {
  flex: 0 1 615.8px;
}

.welcome__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PARTNERS SECTION */
.partners {
  max-width: 1369.98px;
  background-color: var(--white);
  position: relative;
  z-index: 2;
}

.partners_border {
  margin: 0 auto;
  border-radius: 47px;
}

.partners__inner {
  display: flex;
  align-items: center;
  padding: 103px 0px;
  margin-top: -36px;
}

.partners__item {
  margin-left: 40px;
}

.partners__item:first-child {
  margin-left: 0px;
}

/* FOR SIZES OF 360px */
@media (max-width: 360px) {
  .welcome__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -1px;
  }
  .welcome__headline {
    text-align: center;
    margin: 38px 30px 0px 30px;
  }
  .welcome__subheader {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 24px;
  }
  /* ACTION */
  .welcome__action {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  .welcome__proof {
    font-size: 10px;
    font-family: 400;
    line-height: 14px;
  }

  .welcome__proof p {
    margin: 0 auto;
    max-width: 280px;
  }

  .welcome__proof_top {
    margin: 12px 0px 30px 0px;
  }

  .welcome__btn .btn {
    font-size: 16px;
  }
}
