<section id="hero" class="page__hero hero">
  <div class="hero__container _container _container_medium">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">
          Утренний заряд вкусного коктейля FitLine от запора
        </h1>
        <div class="hero__text">
          Пройдите опрос, чтобы лучше понять Вашу ситуацию и предоставить Вам
          полезный чек-лист о пяти способах снижения дискомфорта при запорах.
        </div>
      </div>
      <div class="hero__button">
        <button class="btn" (click)="openGreetingDialog()">Пройти опрос</button>
        <p class="hero__proof">
          Более 500 000 довольных клиентов по всему миру, которые принимают наши
          продукты!
        </p>
      </div>
    </div>
    <div class="hero__img">
      <img src="assets/hero/hero_img_2.webp" alt="welcome-img" />
    </div>
  </div>
</section>
