<!-- HERO SECTION -->
<div class="hero" id="hero">
  <!-- WELCOME SECTION -->
  <div class="welcome">
    <div class="welcome__inner">
      <div class="welcome__content">
        <div class="welcome__content-inner">
          <div class="welcome__headline">
            <h1 class="welcome__header">
              FitLine: Здоровье и Энергия с Продуктами Премиум Класса
            </h1>
            <h2 class="welcome__subheader">
              Индивидуальный подход к здоровью: Пройдите опросник и получите
              персональные рекомендации от экспертов FitLine
            </h2>
          </div>
          <div class="welcome__action">
            <div class="welcome__btn">
              <button class="btn" (click)="openAuthDialog()">Связаться с нами</button>
            </div>
            <div class="welcome__proof welcome__proof_top">
              <p>
                500 000+ довольных клиентов по всему миру. Присоединяйтесь к
                числу тех, кто добился успеха с нами!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="welcome__img">
        <img src="assets/hero/hero-img.svg" alt="welcome-img" />
      </div>
    </div>
  </div>
  <!-- PARTNERS SECTION -->
  <!-- <div class="partners partners_border">
    <div class="container">
      <div class="partners__inner">
        <div class="partners__item">
          <img src="assets/partners/dlv-brand.svg" alt="dlv-brand" />
        </div>
        <div class="partners__item">
          <img
            src="assets/partners/radnet-brand.svg"
            alt="radnet-brand"
          />
        </div>
        <div class="partners__item">
          <img
            src="assets/partners/sporthilfe-brand.svg"
            alt="sporthilfe-brand"
          />
        </div>
        <div class="partners__item">
          <img
            src="assets/partners/ski-austria-brand.svg"
            alt="ski-austria-brand"
          />
        </div>
        <div class="partners__item">
          <img src="assets/partners/dsv-brand.svg" alt="dsv-brand" />
        </div>
      </div>
    </div>
  </div> -->
</div>
