.page__last-call {
  padding: 48px 0px;
  background-color: var(--secondary-bg-color);
}
.last-call__container {
  font-family: "Inter", sans-serif;
  font-size: 16.81px;
  text-align: center;
}
.last-call__header {
  font-weight: 700;
}
.last-call__header > *:not(:last-child) {
  margin-bottom: 20px;
}
.last-call__title {
  font-size: 48px;
  line-height: 128%;
}
.last-call__subtitle {
  font-size: 27px;
  color: var(--subheading-txt-color);
  line-height: 128%;
}
.last-call__inputs {
  margin: 40px auto;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}
.last-call__item:not(:last-child) {
  margin-bottom: 26px;
}
.last-call__input {
  flex: 1 1 auto;
  min-height: 56px;
  width: 100%;
  border-radius: 18px;
  padding: 18px 87px 18px 20px;
}
.last-call__input,
.last-call__input::placeholder {
  color: var(--primary-btn-color);
  letter-spacing: -1.5%;
  font-size: 16.81px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.last-call__input:focus {
  outline-color: var(--btn-bg-color);
}
.last-call__btn button {
  font-size: 17.96px;
  line-height: calc(27.1 / 17.96 * 100%);
}

/* -------- media queries --------*/

@media (max-width: 992px) {
  .last-call__title {
    font-size: 42px;
  }
  .last-call__subtitle {
    font-size: 23.625px;
  }
}
@media (max-width: 767px) {
  .last-call__title {
    font-size: 36.75px;
  }
  .last-call__subtitle {
    font-size: 20.67px;
  }
  .last-call__inputs {
    max-width: 367.5px;
  }
  .last-call__input,
  .last-call__input::placeholder {
    font-size: 14.7px;
  }
  .last-call__btn button {
    font-size: 15.7px;
  }
}
@media (max-width: 605px) {
  .last-call__title {
    font-size: 32px;
  }
  .last-call__subtitle {
    font-size: 18px;
  }
}
