<!-- LAST CALL TO ACTION SECTION -->
<div class="call">
    <div class="container">
        <div class="call__inner">
            <!-- CALL TO ACTION HEADER -->
            <div class="call__header">
                <div class="call__title">
                    <h1>Остались еще вопросы?</h1>
                </div>
                <div class="call__subtitle">
                    <h2>Закажите обратный звонок. Мы всегда рады ответить на любые ваши вопросы</h2>
                </div>
            </div>
            <!-- CALL TO ACTION BODY -->
            <div class="call__body">
                <div class="call__item">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="call__item">
                    <input type="text" placeholder="Номер телефона">
                </div>
                <div class="call__item">
                    <input type="text" placeholder="Город">
                </div>
            </div>
            <!-- CALL TO ACTION BUTTON -->
            <div class="call__action">
                <div class="btn">Связаться с нами</div>
            </div>
        </div>
    </div>
</div>