<!-- LAST CALL TO ACTION SECTION -->
<div class="call">
  <div class="container">
    <div class="call__inner">
      <!-- CALL TO ACTION HEADER -->
      <div class="call__header">
        <div class="call__title">
          <h1>Остались еще вопросы?</h1>
        </div>
        <div class="call__subtitle">
          <h2>
            Закажите обратный звонок. Мы всегда рады ответить на любые ваши
            вопросы
          </h2>
        </div>
      </div>
      <!-- CALL TO ACTION BODY -->
      <form
        [formGroup]="callRequestForm"
        (ngSubmit)="sendRequest()"
        class="call__body form"
      >
        <div class="form__inner">
          <div class="call__item">
            <input
              type="text"
              placeholder="Имя"
              formControlName="username"
              required
            />
          </div>
          <div class="call__item">
            <input
              type="text"
              placeholder="Номер телефона"
              formControlName="phone_number"
              required
            />
          </div>
          <div class="call__item">
            <input
              type="text"
              placeholder="Город"
              formControlName="city"
              required
            />
          </div>
        </div>
        <!-- CALL TO ACTION BUTTON -->
        <div class="call__action">
          <button type="submit" class="btn">Связаться с нами</button>
        </div>
      </form>
    </div>
  </div>
</div>
