<!-- GREETING DIALOG -->
<div class="dialog" [@slideInOut]="slideState">
  <div class="_dialog-container">
    <div class="dialog__inner">
      <!-- GREETING HEADER -->
      <div class="dialog__header">
        <div class="dialog__title dialog__title_detail">
          {{ greetings[currDataIdx].title }}
        </div>
        <div class="dialog__subtitle">
          {{ greetings[currDataIdx].infoTxt }}
        </div>
        <!-- GREETING BUTTON -->
        <div class="dialog__btn" (click)="onNext()">
          <button class="btn btn_full-width">{{ greetings[currDataIdx].buttonTxt }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
