<section id="innovation" class="page__innovation innovation">
  <div class="innovation__image">
    <img
      src="assets/innovation/activize.png"
      alt="Основой продукта является концепция NTC®"
    />
  </div>
  <div class="innovation__background"></div>
  <div class="innovation__container _container _container_big">
    <div class="innovation__content ntc">
      <div class="ntc__logo">
        <img
          src="assets/innovation/ntc-logo.webp"
          alt="NTC - транспортная концепция для здоровья"
        />
      </div>
      <div class="ntc__content">
        <div class="ntc__title">
          <h2>Энергия для каждого дня: Activize</h2>
        </div>
        <div class="ntc__text">
          FitLine Activize создан специально для тех, кто хочет повысить свою
          энергию и продуктивность. Независимо от того, работаете ли вы в офисе,
          на дому или в поездках, Activize поможет вам преодолеть усталость и
          сохранить ясность ума, чтобы вы могли справиться со всеми вызовами,
          которые ждут вас каждый день.
        </div>
        <div class="ntc__button">
          <button class="btn" (click)="onDetail()">Хотите другой продукт FitLine?</button>
        </div>
      </div>
    </div>
  </div>
</section>
