/* AUTH INPUT */
.auth__item_save {
  flex-direction: row;
  align-items: center;
}
.auth__label_save {
  margin-left: 6px;
}

/* AUTH ACTION */
.auth__action {
  /* margin-top: 24px; */
  margin-top: 12px;
}

.auth__remember {
  text-align: right;
  /* margin-top: 12px; */
}

/* REGISTER ACTION */
.register__inner {
  display: flex;
  justify-content: center;
}

.register__action {
  margin-left: 6px;
}
