<div class="auth">
  <div class="auth-container">
    <div class="auth__inner">
      <!-- AUTH HEADER -->
      <div class="auth__header">
        <div class="auth__title">
          <h2>Требуется вход в систему</h2>
        </div>
        <div class="auth__subtitle">
          <h3>
            Для доступа к опроснику пожалуйста, выполните вход или
            зарегистрируйтесь
          </h3>
        </div>
      </div>
      <!-- AUTH INPUT FORMS -->
      <div class="auth__inputs">
        <div class="auth__item">
          <label for="email" class="auth__label">Имя пользователя</label>
          <input
            type="email"
            class="auth__input"
            placeholder="user@example.com"
          />
        </div>
        <div class="auth__item">
          <label for="password" class="auth__label">Пароль</label>
          <input type="password" class="auth__input" />
        </div>
        <div class="auth__item auth__item_save">
          <input type="checkbox" class="auth__input" />
          <label for="checkbox" class="auth__label auth__label_save">Запомнить?</label>
        </div>
      </div>
      <!-- AUTH ACTION -->
      <div class="auth__action">
        <div class="auth__btn">
          <button class="btn">Войти</button>
        </div>
        <div class="auth__remember">
          <a href="#restore">Забыли пароль?</a>
        </div>
      </div>
      <!-- DECORE OF THE STRAIGHT LINE -->
      <div class="auth__decore"></div>
      <!-- REGISTER ACTION -->
      <div class="auth__register register">
        <div class="register__label">
          <p>Нет аккаунта?</p>
        </div>
        <div class="register__action">
          <a href="#register">Зарегистрируйтесь сейчас</a>
        </div>
      </div>
    </div>
  </div>
</div>
