<div class="quiz">
  <div class="quiz__container">
    <div class="quiz__content">
      <div class="quiz__header header">
        <div class="header__index">0{{ currentQuestion + 1 }}</div>
        <div class="header__bar bar" *ngFor="let idx of quiz">
          <div class="bar__item"></div>
        </div>
      </div>
      <div class="quiz__task">
        <div class="quiz__question question">
          <h2 class="question__text">
            {{ quiz[currentQuestion].question.text }}
          </h2>
        </div>
        <div
          class="quiz__answers answer"
          *ngFor="let answer of quiz[currentQuestion].answers"
        >
          <div class="answer__item" (click)="onSelectOption(answer.id!)">
            <input
              class="answer__input"
              type="radio"
              [(ngModel)]="selectedOption"
              [value]="answer.id"
            />
            <label class="answer__text">{{ answer.text }}</label>
          </div>
        </div>
      </div>
      <div class="quiz__buttons">
        <div class="quiz__btn quiz__btn_prev" (click)="prev()">
          <button class="btn">Назад</button>
        </div>
        <div class="quiz__btn quiz__btn_next" (click)="next()">
          <button class="btn">Далее</button>
        </div>
      </div>
    </div>
    <div class="quiz__img">
      <img src="{{ currentImgUrl }}" alt="Картина вопроса квиза" />
    </div>
  </div>
</div>
