<!-- QUESTIONNAIRE SECTION -->
<div class="dialog" [@slideInOut]="slideState">
  <div class="_dialog-container">
    <div class="dialog__inner questionnaire">
      <div class="questionnaire__ready" *ngIf="dataIsLoaded">
        <!-- QUESTION SECTION -->
        <div class="question">
          <h2 class="question__text">
            {{ questions![currQuesIdx].question_text }}
          </h2>
        </div>
        <!-- ANSWERS SECTION -->
        <div class="answer">
          <div
            class="answer__item"
            *ngFor="let answer of currentAnswers"
            (click)="onSelectOption(answer.id!)"
          >
            <input
              type="radio"
              class="answer__input"
              [(ngModel)]="selectedOption"
              [value]="answer.id"
            />
            <div class="answer__text">
              {{ answer.answer_text }}
            </div>
          </div>
        </div>
      </div>
      <div class="dialog__btn dialog__btn_questionnaire">
        <button class="btn btn_pos btn_full-width" (click)="onAnswerSelected()">
          Продолжить
        </button>
      </div>
    </div>
  </div>
</div>
