<!-- PARTNERS SECTION -->
<div class="partners partners_border">
  <div class="container">
    <div class="partners__inner">
      <div class="partners__item">
        <img src="assets/partners/dlv-brand.svg" alt="dlv-brand" />
      </div>
      <div class="partners__item">
        <img src="assets/partners/radnet-brand.svg" alt="radnet-brand" />
      </div>
      <div class="partners__item">
        <img
          src="assets/partners/sporthilfe-brand.svg"
          alt="sporthilfe-brand"
        />
      </div>
      <div class="partners__item">
        <img
          src="assets/partners/ski-austria-brand.svg"
          alt="ski-austria-brand"
        />
      </div>
      <div class="partners__item">
        <img src="assets/partners/dsv-brand.svg" alt="dsv-brand" />
      </div>
    </div>
  </div>
</div>
