.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ------------------ */
/* ------HEADER------ */
/* ------------------ */
.header {
  background-color: var(--header-bg-color);
}

.header_pos {
  position: sticky;
  top: 0px;
  z-index: 10;
}

/* ------------------ */
/* -------PAGE------- */
/* ------------------ */
.page {
  flex: 1 1 auto;
}
