/* QUESTIONNAIRE DIALOG */
.questionnaire {
  font-family: "Inter", sans-serif;
  color: var(--btn-bg-color);
}

.questionnaire-container {
  max-width: var(--dialog-max-width);
  margin: 0 auto;
}

.questionnaire__inner {
  margin: var(--dialog-top-bottom) 0px;
}

/* QUESTION */
.question__text {
  font-size: 32px;
}

/* ANSWER */
.answer {
  max-width: 968px;
}
.answer > *:first-child {
  margin-top: 27px;
}

.answer__item {
  display: flex;
  padding: 20px 23px;
  background-color: var(--secondary-bg-color);
  margin-top: 16px;
  border-radius: 20.5px;
  cursor: pointer;
}

.answer__item:first-child {
  margin-top: 0px;
}
.answer__input {
  display: none;
}
.answer__input:checked + .answer__text::after {
  transform: scale(1);
}

.answer__text {
  display: inline-flex;
  align-items: center;
  font-size: 22.45px;
  flex: 1 0 100%;
  position: relative;
}

.answer__text::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid var(--btn-bg-color);
  border-radius: 50%;
  margin: 0px 11.5px 0px 0px;
}

.answer__text::after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 18px;
  height: 18px;
  background-color: var(--btn-bg-color);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.question__text,
.answer__text {
  letter-spacing: -1.5%;
}

.dialog__btn_questionnaire {
  display: none;
}

/* -------- media queries --------*/
@media (max-width: 992px) {
  .question__text {
    font-size: 24px;
  }
  .answer__text {
    font-size: 16.7px;
  }
}
@media (max-width: 509px) {
  .question__text {
    font-size: 21px;
  }
  .answer__text {
    font-size: 14px;
  }
  .answer > *:first-child {
    margin-top: 20px;
  }
  .answer__item {
    padding: 15px 12px;
  }
  .answer__text::before {
    flex: 0 0 18px;
    height: 18px;
    margin: 0px 9px 0px 0px;
  }
  .answer__text::after {
    top: 2.5px;
    left: 2.5px;
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 419px) {
  .question__text {
    font-size: 18px;
  }
  .answer__text {
    font-size: 11.5px;
  }
}
