<div class="questionnaire">
  <div class="questionnaire__inner">
    <div
      class="questionnaire__check"
      *ngIf="questions.length > 0; then question; else none"
    ></div>

    <ng-template #question class="questionnaire__content">
      <div class="question">
        <h2>{{ questions[currentQuestionIndex].question_text }}</h2>
      </div>
      <div class="answer" *ngFor="let answer of currentAnswers">
        <div class="answer__item">
            <p>{{answer.answer_text}}</p>
        </div>
      </div>
    </ng-template>

    <ng-template #none class="questionnaire__none">
      <h1>Упс! Вопросы к сожалению не подгрузились!</h1>
    </ng-template>
  </div>
</div>
