<section id="products" class="page__sets sets">
  <div class="sets__container _container _container_small">
    <div class="sets__main-image">
      <img
        src="assets/sets/main_image.png"
        alt="Овощной порошок (брокколи, капуста...)"
      />
    </div>
    <div class="sets__info info">
      <div class="info__upper">
        <div class="info__img">
          <img
            src="assets/sets/subimage_1.jpeg"
            alt="Растворимые и нерастворимые клетчатки"
          />
        </div>
        <div class="info__img">
          <img
            src="assets/sets/subimage_2.jpeg"
            alt="Живые молочнокислые лактобактерий"
          />
        </div>
      </div>
      <div class="info__content">
        <h2>Высочайшее качество</h2>
        <div class="info__text">
          С 2016 г. продукция создаётся совместно с Люксембургским Иститутом
          Науки и Технологии (LIST). Осуществляется государственное и
          европейское финансирование этих исследований.
        </div>
        <div class="info__btn">
          <button class="btn" (click)="onDetail()">Хочу так же!</button>
        </div>
      </div>
    </div>
  </div>
</section>
