<section id="products" class="page__sets sets">
  <div class="sets__container _container _container_small">
    <div class="sets__main-image">
      <img
        src="assets/benefits/main_image.webp"
        alt="Овощной порошок (брокколи, капуста...)"
      />
    </div>
    <div class="sets__info info">
      <div class="info__upper">
        <div class="info__img">
          <img
            src="assets/benefits/subimage_1.webp"
            alt="Растворимые и нерастворимые клетчатки"
          />
        </div>
        <div class="info__img">
          <img
            src="assets/benefits/subimage_2.webp"
            alt="Живые молочнокислые лактобактерий"
          />
        </div>
      </div>
      <div class="info__content">
        <h2>Ингредиенты</h2>
        <div class="info__text">
          С этим сбалансированным составом Вы сможете не только справиться с
          запором, а также повысить иммунитет и поддержать общее состояние на
          должном уровене. Оставьте заявку на обратный звонок, чтобы Вы смогли
          первее получить консультацию.
        </div>
        <div class="info__btn">
          <button class="btn" (click)="onDetail()">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>
