/* SETS */
.sets {
  background-color: var(--secondary-bg-color);
}

.sets__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0px;
  margin-top: 80px;
}

/* LEFT */
.sets__left {
  max-width: 447px;
  max-height: 458px;
}

.sets__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT */
.right {
  max-width: 497px;
}

.right__imgs {
  display: flex;
  justify-content: space-between;
}

.right__img {
  max-width: 205.7px;
  max-height: 205.7px;
}

.right__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right__desc {
  margin-top: 27px;
}

.right__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
}

.right__txt {
  font-weight: 500;
  line-height: 32.3px;
  font-size: 19.35px;
  margin-top: 18px;
}

.right__btn {
  margin-top: 18px;
}
