<!-- BENEFITS AND SETS -->
<div class="sets">
  <div class="container_inner">
    <div class="sets__inner">
      <!-- LEFT IMAGE -->
      <div class="sets__left">
        <img src="../../assets/benefits/main-img.svg" alt="main-img" />
      </div>
      <!-- RIGHT CONTENT -->
      <div class="sets__right right">
        <!-- RIGHT IMAGES -->
        <div class="right__imgs">
          <div class="right__img">
            <img src="../../assets/benefits/restorate.svg" alt="restorate" />
          </div>
          <div class="right__img">
            <img src="../../assets/benefits/basics.svg" alt="basics" />
          </div>
        </div>
        <!-- RIGHT DESCRIPTION -->
        <div class="right__desc">
          <div class="right__title">
            <h3>Наборы FitLine</h3>
          </div>
          <div class="right__txt">
            <p>
              Оптимальный набор FitLine обеспечивает вас комплексной схемой
              питания в течение каждого дня.
            </p>
          </div>
          <div class="right__btn">
            <button class="btn">Узнать больше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
