<!-- BENEFITS AND SETS -->
<div class="sets" id="products">
  <div class="container_inner">
    <div class="sets__inner">
      <!-- LEFT IMAGE -->
      <div class="sets__left flip-card">
        <!-- FLIP CARD -->
        <div class="flip-card__inner">
          <!-- FRONT -->
          <div class="flip-card__front">
            <img src="../../assets/benefits/main-img.svg" alt="main-img" />
          </div>
          <!-- BACK -->
          <div class="flip-card__back card-back">
            <div class="card-back__inner card-back__inner_center">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima,
                omnis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT CONTENT -->
      <div class="sets__right right">
        <!-- RIGHT IMAGES -->
        <div class="right__imgs">
          <!-- FLIP CARD -->
          <div class="right__img flip-card">
            <div class="flip-card__inner">
              <!-- FLIP FRONT -->
              <div class="flip-card__front">
                <img
                  src="../../assets/benefits/restorate.svg"
                  alt="restorate"
                />
              </div>
              <!-- FLIP BACK -->
              <div class="flip-card__back card-back">
                <div class="card-back__inner card-back__inner_center">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quae officiis voluptatem quis rem harum provident.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="right__img flip-card">
            <div class="flip-card__inner">
              <!-- FLIP FRONT -->
              <div class="flip-card__front">
                <img src="../../assets/benefits/basics.svg" alt="basics" />
              </div>
              <!-- FLIP BACK -->
              <div class="flip-card__back card-back">
                <div class="card-back__inner card-back__inner_center">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Eveniet, accusantium!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- RIGHT DESCRIPTION -->
        <div class="right__desc">
          <div class="right__title">
            <h3>Наборы FitLine</h3>
          </div>
          <div class="right__txt">
            <p>
              Оптимальный набор FitLine обеспечивает вас комплексной схемой
              питания в течение каждого дня.
            </p>
          </div>
          <div class="right__btn">
            <button class="btn" (click)="onDetail()">Узнать больше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
