<section id="products" class="page__sets sets">
  <div class="sets__container _container _container_small">
    <div class="sets__main-image">
        <img src="assets/benefits/main_image.jpeg" alt="Базовый сет" />
    </div>
    <div class="sets__info info">
      <div class="info__upper">
        <div class="info__img">
          <img src="assets/benefits/subimage_1.jpeg" alt="Набор Restorate" />
        </div>
        <div class="info__img">
          <img src="assets/benefits/subimage_2.jpeg" alt="Набор Basics" />
        </div>
      </div>
      <div class="info__content">
        <h2>Набор FitLine</h2>
        <div class="info__text">
          Оптимальный набор FitLine обеспечивает вас комплексной схемой питания
          в течение каждого дня.
        </div>
        <div class="info__btn">
          <button class="btn" (click)="onDetail()">Узнать больше</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="sets" id="products">
  <div class="sets__inner">

    <div class="sets__left flip-card">

      <div class="flip-card__inner">

        <div class="flip-card__front">
          <img src="assets/benefits/main-img.svg" alt="main-img" />
        </div>

        <div class="flip-card__back card-back">
          <div class="card-back__inner card-back__inner_center">
            <p>
              FitLine Power Cocktail - это уникальное сочетание двух продуктов:
              FitLine Basics и FitLine Activize. Этот мощный комплекс специально
              разработан для поддержания вашего здоровья и энергии. <br />
              <br />
              FitLine Basics - это инновационный порошок для напитка,
              разработанный с использованием натуральных растительных
              компонентов, который улучшает функцию желудочно-кишечного тракта,
              поднимает иммунитет и способствует общему улучшению организма. Он
              является фундаментальным продуктом для вашего здоровья.
              <br />
              <br />
              FitLine Activize Oxyplus - это уникальное средство, которое
              способствует более полному снабжению ваших клеток кислородом, что
              в свою очередь повышает вашу физическую выносливость. Его состав
              включает натуральные ингредиенты, такие как стевия, гуарана,
              витамин С и комплекс всех витаминов В, а также порошок из
              водорослей Laminaria Digitata. Эта комбинация позволяет вашему
              организму чувствовать себя бодрым и полным энергии.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="sets__right right">

      <div class="right__imgs">

        <div class="right__img flip-card">
          <div class="flip-card__inner">

            <div class="flip-card__front">
              <img src="assets/benefits/restorate.svg" alt="restorate" />
            </div>

            <div class="flip-card__back card-back">
              <div
                class="card-back__inner card-back__inner_center card-back__inner_small"
              >
                <p>
                  FitLine Restorate специально разработан для восстановления и
                  защиты опорно-двигательных аппаратов. Этот продукт не только
                  снижает кислотность организма, но также способствует
                  укреплению вашего здоровья и поддержанию активного образа
                  жизни.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="right__img flip-card">
          <div class="flip-card__inner">

            <div class="flip-card__front">
              <img src="assets/benefits/basics.svg" alt="basics" />
            </div>

            <div class="flip-card__back card-back">
              <div
                class="card-back__inner card-back__inner_center card-back__inner_small"
              >
                <p>
                  FitLine Basics - это продукт, который не только улучшает
                  работу желудочно-кишечного тракта, но и богат витаминами и
                  минералами. Его употребление способствует повышению иммунитета
                  и общему улучшению самочувствия.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right__desc">
        <div class="right__title">
          <h3>Наборы FitLine</h3>
        </div>
        <div class="right__txt">
          <p>
            Оптимальный сет FitLine - это комплекс продуктов, который помогает
            поддерживать ваше здоровье и увеличивать энергию.
          </p>
        </div>
        <div class="right__btn">
          <button class="btn" (click)="onDetail()">Узнать больше</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
