<section id="innovation" class="page__innovation innovation">
  <div class="innovation__image">
    <img
      src="assets/innovation/innovation.jpeg"
      alt="Основой продукта является концепция NTC®"
    />
  </div>
  <div class="innovation__background"></div>
  <div class="innovation__container _container _container_big">
    <div class="innovation__content ntc">
      <div class="ntc__logo">
        <img
          src="assets/innovation/ntc-logo.png"
          alt="NTC - транспортная концепция для здоровья"
        />
      </div>
      <div class="ntc__content">
        <div class="ntc__title">
          <h2>Основой продукта является концепция NTC®</h2>
        </div>
        <div class="ntc__text">
          Запатентованное новшество мирового уровня — уникальное и без аналогов.
          Благодаря этому вы сможете почувствовать трех-пятикратно более быстрый
          результат и эффективное действие, употребляя в жидкой форме.
          Расскажите нам подробнее о Вашей ситуации, чтобы мы могли предложить
          вам оптимальное решение.
        </div>
        <div class="ntc__button">
          <button class="btn" (click)="onDetail()">Поделиться</button>
        </div>
      </div>
    </div>
  </div>
</section>
