<!-- INNOVATION SECTION -->
<div class="innovation" id="innovation">
  <div class="innovation__inner">
    <div class="innovation__poster">
      <img src="assets/innovation/proshape.svg" alt="Продукт FitLine Proshape для вашего здоровья" />
    </div>
    <div class="innovation__content">
      <div class="innovation__content-inner">
        <div class="innovation__title">
          <h2>Питание с использованием уникальной концепции NTC®</h2>
        </div>
        <div class="innovation__txt">
          <p>
            Продукты с уникальной транспортной концепцией (NTC®) способствуют
            точной доставке питательных веществ к клеткам. Откройте секрет
            здорового питания с нами и обеспечьте своему организму всё
            необходимое для активной жизни.
          </p>
        </div>
        <div class="innovation__btn">
          <button class="btn" (click)="onDetail()">Узнать больше</button>
        </div>
      </div>
    </div>
    <div class="innovation__logo">
      <img src="assets/innovation/ntc-logo.png" alt="NTC - транспортная концепция для здоровья" />
    </div>
  </div>
</div>
