<!-- INNOVATION SECTION -->
<div class="innovation">
  <div class="innovation__inner">
    <div class="innovation__poster">
      <img src="../../assets/innovation/proshape.svg" alt="proshape" />
    </div>
    <div class="innovation__content">
      <div class="innovation__content-inner">
        <div class="innovation__title">
            <h2>Эксклюзивное питательное вещество (NTC®)</h2>
          </div>
          <div class="innovation__txt">
            <p>
              Наши продукты производятся с использованием эксклюзивного питательного
              Транспортная концепция (NTC®), которая точно доставляет питательные
              вещества когда они нужны и где они нужны – к клеточном уровне, изнутри
              и снаружи.
            </p>
          </div>
          <div class="innovation__btn">
            <button class="btn">Узнать больше</button>
          </div>
      </div>
    </div>
    <div class="innovation__logo">
        <img src="../../assets/innovation/ntc-logo.svg" alt="ntc-logo" />
      </div>
  </div>
</div>
