.page__numbers {
  margin: 80px 0px;
}

.numbers__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px 0px;
}
.numbers__item {
  flex: 0 1 25%;
  min-width: 265px;
  font-weight: 700;
  padding: 15px 0px;
  text-align: center;
}

.numbers__item > *:not(:last-child) {
  margin-bottom: 20px;
}

.numbers__num {
  font-size: 96px;
}

.numbers__desc {
  font-size: 32px;
  line-height: calc(30 / 32 * 100%);
}

/* -------- media queries --------*/

@media (max-width: 767px) {
  .numbers__num {
    font-size: 76.8px;
  }
  .numbers__desc {
    font-size: 25.6px;
  }
}

@media (max-width: 560px) {
  .numbers__num {
    font-size: 60.8px;
  }
  .numbers__item {
    min-width: 195px;
  }
}

@media (max-width: 479px) {
  .page__numbers {
    margin: 50px 0px;
  }
  .numbers__num {
    font-size: 56px;
  }
  .numbers__desc {
    font-size: 21px;
  }
}

@media (max-width: 419px) {
  .page__numbers {
    margin: 40px 0px;
  }
  .numbers {
    padding: 0px;
  }
  .numbers__item {
    min-width: 145px;
  }
  .numbers__num {
    font-size: 50px;
  }
  .numbers__desc {
    font-size: 19px;
  }
}

@media (min-width: 340px) {
  .numbers__item:nth-child(even) {
    margin-left: 20px;
  }
}
