<section class="page__certificates certificates _container _container_big">
  <div class="certificates__container">
    <div class="certificates__body">
      <ul class="certificates__list certificates__list_auto">
        <li class="certificates__item">
          <div class="certificates__img">
            <img src="assets/partners/dlv-brand.svg" alt="dlv-brand" />
          </div>
        </li>
        <li class="certificates__item">
          <div class="certificates__img">
            <img src="assets/partners/radnet-brand.svg" alt="radnet-brand" />
          </div>
        </li>
        <li class="certificates__item">
          <div class="certificates__img">
            <img
              src="assets/partners/sporthilfe-brand.svg"
              alt="sporthilfe-brand"
            />
          </div>
        </li>
        <li class="certificates__item">
          <div class="certificates__img">
            <img
              src="assets/partners/ski-austria-brand.svg"
              alt="ski-austria-brand"
            />
          </div>
        </li>
        <li class="certificates__item">
          <div class="certificates__img">
            <img src="assets/partners/dsv-brand.svg" alt="dsv-brand" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
