<section class="page__certificates certificates _container _container_big">
  <div class="certificates__container _container">
    <ul class="certificates__list">
      <li class="certificates__item">
        <img src="assets/partners/dlv-brand.svg" alt="dlv-brand" />
      </li>
      <li class="certificates__item">
        <img src="assets/partners/radnet-brand.svg" alt="radnet-brand" />
      </li>
      <li class="certificates__item">
        <img
          src="assets/partners/sporthilfe-brand.svg"
          alt="sporthilfe-brand"
        />
      </li>
      <li class="certificates__item">
        <img
          src="assets/partners/ski-austria-brand.svg"
          alt="ski-austria-brand"
        />
      </li>
      <li class="certificates__item">
        <img src="assets/partners/dsv-brand.svg" alt="dsv-brand" />
      </li>
    </ul>
  </div>
</section>
