<div class="page__problems problems">
  <div class="problems__container _container">
    <div class="problems__header">
      <h2>Ищете способы повысить энергию и продуктивность?</h2>
    </div>
    <div class="problems__text">
      Для многих из нас ежедневная борьба с усталостью и недостатком энергии
      становится неотъемлемой частью жизни. На пути к достижению успеха мы
      сталкиваемся с многочисленными вызовами, которые требуют максимальной
      концентрации и энергии. Однако часто наши ресурсы иссякают, и мы
      испытываем усталость, раздражение и стресс
    </div>
  </div>
</div>
