<!-- TESTIMONIALS SECTION -->
<div class="testimonials" id="testimonials">
  <div class="container">
    <div class="testimonials__inner">
      <!-- TESTIMONIALS LIST -->
      <div class="testimonials__list">
        <div
          *ngFor="let testimonial of testimonials"
          class="testimonials__item"
        >
          <div class="testimonials__text">
            <p>{{ testimonial.text }}</p>
          </div>
          <div class="testimonials__footer">
            <div class="testimonials__avatar">
              <img src="{{ testimonial.avatar }}" alt="user-avatar" />
            </div>
            <div class="testimonials__username">
              <h4>{{ testimonial.username }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
