<div class="page__testimonials testimonials">
  <div class="testimonials__container _container">
    <div class="testimonials__items">
      <div
        class="testimonials__item testimonial-item"
        *ngFor="let testimonials of testimonials"
      >
        <div class="testimonial-item__card">
          <div class="testimonials__text">{{ testimonials.text }}</div>
          <div class="testimonials__footer user-info">
            <div class="user-info__avatar">
              <img
                src="{{ testimonials.avatar }}"
                alt="Изображение пользователя"
              />
            </div>
            <div class="user-info__username">{{ testimonials.username }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
