/* GENERAL STYLE SHEET */
:root {
  --white: #ffffff;
  --main-bg-color: #fdf8fa;
  --secondary-bg-color: #ffe7f0;
  --btn-bg-color: #ff0060;
  --primary-txt-color: #000000;
  --secondary-txt-color: #090909;
  --subheading-txt-color: rgba(0, 0, 0, 0.62);
  --line-bg-color: rgba(0, 0, 0, 0.3);
  --stroke-color: #e8e4e6;
  --dialog-max-width: 90%;
  --dialog-top-bottom: 52px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px;
  background-color: var(--main-bg-color);
  color: var(--primary-txt-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a,
a:visited,
a:hover {
  color: var(--primary-txt-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-txt-color);
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn {
  color: var(--white);
  background-color: var(--btn-bg-color);
  border-width: 0px;
  border-radius: 68.485px;
  padding: 17px 58px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.36px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn_sb {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.36px;
  cursor: pointer;
}

.btn:hover,
.btn_sb:hover {
  background-color: var(--secondary-bg-color);
  color: var(--btn-bg-color);
  padding: 15px 56px;
  outline: none;
  transition: background-color 0.3s;
  border: 2px solid var(--btn-bg-color);
}

.btn:focus {
  outline: none;
  /* ! Then we should add here ! */
  /* padding: 15px 56px; */
  /* border: 2px solid var(--btn-bg-color); */
}

.validation {
 text-align: start;
 color: var(--btn-bg-color);
}

/* ------------- */
/* MODAL DIALOG */
/* ------------- */

.dialog {
  color: var(--btn-bg-color);
  font-family: "Inter";
}

.dialog-container {
  max-width: 80%;
  margin: 0 auto;
}

.dialog__inner {
  padding: 72px 0px;
}

/* MODAL HEADER */
.dialog__header {
  text-align: center;
  margin: 0 auto;
}

.dialog__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 42px;
  color: var(--primary-txt-color);
}

.dialog__subtitle {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--subheading-txt-color);
}

/* MODAL INPUT */
.dialog__inputs {
  margin-top: 32px;
}

.dialog__item {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.dialog__item:first-child {
  margin-top: 0px;
}

.dialog__label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1.5%;
}

.dialog__input {
  margin-top: 6px;
  background-color: var(--secondary-bg-color);
  border: 0px;
  border-radius: 16px;
  padding: 20px 23px;

  font-size: 16px;
  font-weight: 500;
  color: var(--btn-bg-color);
}

.dialog__input::placeholder {
  color: var(--btn-bg-color);
}

.dialog__input:focus {
  border: 2px solid var(--btn-bg-color);
  outline: none !important;
  padding: 18px 21px;
}

/* DIALOG ACTION */
.dialog__btn {
  width: 100%;
  margin-top: 24px;
}

.dialog__btn button {
  width: 100%;
}

/* DECORE OF THE STRAIGHT LINE */
.dialog__decore {
  width: 100%;
  height: 2px;
  background-color: var(--btn-bg-color);
  margin: 20px 0px;
}

/* SMOOTH SCROLLING */
.smooth-scroll {
  transition: scroll-behavior 500ms ease-in-out;
}
