<section id="hero" class="page__hero hero">
  <div class="hero__container _container _container_medium">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">
          Утренний заряд вкусного коктейля для сбалансированного питания
        </h1>
        <div class="hero__text text">
          <p class="text__item">
            Пройдите квиз и получите
            <span class="highlight">2 образца</span> продукции за
            <span class="highlight">0 тенге</span>.
          </p>
          <p class="text__item text__item_need">
            Мы выделили <span class="invert-highlight">30 бесплатных</span> образцов. На данный момент осталось всего
            <span class="invert-highlight">16</span>
          </p>
        </div>
      </div>
      <div class="hero__action">
        <div class="hero__button">
          <button class="btn" (click)="openGreetingDialog()">
            Получить образы бесплатно
          </button>
        </div>
        <div class="hero__proof proof">
          <p class="proof__item">
            Более 500 000 довольных клиентов по всему миру
          </p>
          <p class="proof__item">У нас впервые</p>
        </div>
      </div>
    </div>
    <div class="hero__img">
      <img src="assets/hero/hero_img_2.webp" alt="welcome-img" />
    </div>
  </div>
</section>
