/* AUTH INPUT */
.auth__item_save {
  flex-direction: row;
  align-items: center;
}
.auth__label_save {
  margin-left: 6px;
}

/* AUTH ACTION */
.auth__action {
  margin-top: 12px;
}
.auth__remember {
  text-align: right;
}

/* REGISTER ACTION */
.register__inner {
  display: flex;
  justify-content: center;
}
.register__action {
  color: var(--primary-txt-color);
  cursor: pointer;
}
.register__action:hover {
  color: var(--secondary-txt-color);
}

/* -------- media queries --------*/
@media (max-width: 992px) {
  .register__inner {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .register__inner {
    font-size: 13px;
  }
}
@media (max-width: 419px) {
  .register__inner {
    flex-direction: column;
    align-items: center;
  }
  .register__inner > *:not(:last-child) {
    margin-bottom: 5px;
  }
  .register__inner {
    font-size: 12px;
  }
}

@media (min-width: 419px) {
  .register__action {
    margin-left: 6px;
  }
}
