<!-- AUTH SECTION -->
<div class="dialog">
  <div class="_dialog-container">
    <div class="dialog__inner">
      <!-- AUTH HEADER -->
      <div class="dialog__header">
        <div class="dialog__title">
          <h2>Требуется вход в систему</h2>
        </div>
        <div class="dialog__subtitle">
          <h3>
            Для доступа к опроснику пожалуйста, выполните вход или
            зарегистрируйтесь
          </h3>
        </div>
      </div>
      <!-- AUTH INPUT FORMS -->
      <form [formGroup]="authForm" class="dialog__form form">
        <div class="dialog__inputs">
          <!-- INPUT FORM FOR THE USERNAME -->
          <div class="dialog__item">
            <label for="username" class="dialog__label">Имя пользователя</label>
            <input
              type="text"
              class="dialog__input"
              formControlName="username"
              placeholder="username"
            />
            <!-- SHOWS THAT THE FIELD IS REQUIRED -->
            <div
              *ngIf="
                authForm.get('username')?.hasError('required') &&
                authForm.get('username')?.touched
              "
              class="validation"
            >
              Поле username обязательно для заполнения
            </div>
            <!-- SHOWS THAT THE FIELD IS IN PATTERN -->
            <div
              *ngIf="
                authForm.get('username')?.hasError('pattern') &&
                authForm.get('username')?.touched
              "
              class="validation"
            >
              Username должен содержать только латинские буквы
            </div>
          </div>

          <!-- INPUT FORM FOR THE PASSWORD -->
          <div class="dialog__item">
            <label for="password" class="dialog__label">Пароль</label>
            <input
              type="password"
              class="dialog__input"
              formControlName="password"
              autocomplete="on"
            />
            <!-- SHOWS THAT THE FIELD IS REQUIRED -->
            <div
              *ngIf="
                authForm.get('password')?.hasError('required') &&
                authForm.get('password')?.touched
              "
              class="validation"
            >
              Поле пароль обязательно для заполнения
            </div>
            <!-- SHOWS THAT THE FIELD'S MIN LENGTH -->
            <div
              *ngIf="
                authForm.get('password')?.hasError('minlength') &&
                authForm.get('password')?.touched
              "
              class="validation"
            >
              Пароль должен содержать больше 8 символов
            </div>
            <!-- SHOWS THAT THE FIELD'S MAX LENGTH -->
            <div
              *ngIf="
                authForm.get('password')?.hasError('maxlength') &&
                authForm.get('password')?.touched
              "
              class="validation"
            >
              Пароль должен содержать меньше 20 символов
            </div>
          </div>

          <!-- <div class="auth__item auth__item_save">
            <input type="checkbox" class="auth__input" />
            <label for="checkbox" class="auth__label auth__label_save">Запомнить?</label>
          </div> -->
        </div>
        <div class="dialog__btn">
          <button class="btn btn_full-width" (click)="login()">Войти</button>
        </div>
      </form>

      <!-- DECORE OF THE STRAIGHT LINE -->
      <div class="dialog__decore"></div>
      <!-- REGISTER ACTION -->
      <div class="dialog__register register">
        <div class="register__inner">
          <div class="register__label">Нет аккаунта?</div>
          <div class="register__action" (click)="openRegisterDialog()">
            Зарегистрируйтесь сейчас
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
